POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

OPSK_DB_NAME=opskeeper
OPSK_DB_USER=opskeeper
OPSK_DB_PASSWORD=opskeeper

OPSK_CACHE_BACKEND=postgres
OPSK_REPOSITORY_STORAGE_BACKEND=postgres
OPSK_REPOSITORY_S3_PROVIDER=minio

# Optional obs profile ports.
JAEGER_UI_PORT=16686
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318
PROMETHEUS_PORT=9090
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
